body{
    font-family: "Roboto", sans-serif;
    background: black;
    color: aqua;
    margin: opx;
    margin-bottom: 100px;
}
.chamada{
    background-color: blue;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
header{
    color:azure;
    font-size: 35px; 
    border-bottom: 3px solid azure;
    padding: 20px;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 36px;
}
.categoria{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;

}
.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}
.categoria-videos img{
    height: 200px;
    opacity: 0.5;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 3px solid paleturquoise;
}
